#entries
  - @entries.each do |entry|
    .entry{ :class => entry == @entries.last ? 'last' : '' }
      .title
        %h1
          = link_to entry.title, public_entry_url(entry)
      .date
        = entry.published_at.to_s(:long)
      .content
        ~ entry.body.html_safe
      .meta
        = link_to "Comments: #{entry.comments.count}", public_entry_url(entry) + '#comments'
  = paginate @entries
