#entries.grid_8
  .entry.last
    .title
      = entry.title
    .date
      = entry.published_at.to_s(:long)
    .content
      ~ entry.body.html_safe

    %a{ :name => 'comments' }
    #comments
      %h2 Comments
      - if entry.comments.any?
        - entry.comments.each do |comment|
          .comment
            .author
              = comment.name
              %span.when
                = comment.created_at.to_s(:long)
            .body
              = comment.body
      - else
        .comment
          .author
            None yet...

      %a{ :name => 'add-comment' }
      #new_comment
        %h2 Add a comment
        = semantic_form_for [entry, comment] do |form|
          = form.input :name
          = form.input :nickname
          = form.input :email, :label => 'Email (not shown to the public)'
          = form.input :url, :label => 'Website'
          = form.input :body, :label => 'Comment'
          = form.submit 'Add comment'
