#entries.grid_8
  .entry.last
    .title
      = entry.title
    .date
      = entry.published_at.to_s(:long)
    .content
      ~ entry.body.html_safe
    %a{ :name => 'comments' }
    #comments
      %h2 Comments
      - entry.comments.each do |comment|
        .comment
          .author
            = comment.name
            %span.when
              = comment.created_at.to_s(:long)
          .body
            = comment.body
      #new_comment
        %h2 Add a comment
        = semantic_form_for [entry, comment] do |form|
          = form.input :name
          = form.input :nickname
          = form.input :email
          = form.input :body, :label => 'Comment'
          = form.submit 'Add comment', :class => 'button'
