#entries.grid_8
  - @entries.each do |entry|
    .entry{ :class => entry == @entries.last ? 'last' : '' }
      .title
        = link_to entry.title, entry_path(entry)
      .date
        = entry.published_at.to_s(:long)
      .content
        ~ entry.body.html_safe
      .meta
        = link_to "Comments: #{entry.comments.count}", entry_path(entry, :anchor => 'comments')
  #pagination.apple_pagination
    = will_paginate @entries