%h2 Site Settings
= semantic_form_for SETTINGS, :url => admin_settings_path do |form|
  = form.input :site_url
  = form.input :site_name
  = form.input :tagline
  = form.input :time_zone, :label => 'Your local time zone'
  = form.input :entries_per_page, :label => 'Entries on the home page'
  
  = form.submit 'Save', :class => 'button'