%p
  = link_to 'Start a new entry', new_admin_entry_path
%br

%h2 Drafts

- if @drafts.any?
  %table.entries
    - @drafts.each do |entry|
      %tr
        %td
          = link_to image_tag('jabe/delete_page.png'),
            admin_entry_path(entry),
            :confirm => 'Are you sure?',
            :method => :delete,
            :title => 'Delete'
          = link_to image_tag('jabe/full_page.png'),
            entry_path(entry),
            :title => 'Preview'
        %td
          = link_to entry.title, edit_admin_entry_path(entry)

%br

%h2 Published

- if @published.any?
  %table.entries
    - @published.each do |entry|
      %tr
        %td.icons
          = link_to image_tag('jabe/delete_page.png'),
            admin_entry_path(entry),
            :confirm => 'Are you sure?',
            :method => :delete,
            :title => 'Delete'
          = link_to image_tag('jabe/full_page.png'),
            public_entry_url(entry),
            :title => 'Preview'
        %td
          = link_to entry.title, edit_admin_entry_path(entry)
          .when
            = entry.published_at.to_s(:long)

= paginate @published
