%h2 Site Settings
= form_for Jabe::SETTINGS, :url => admin_settings_path, :html => { :class => 'form-horizontal' } do |form|
  = form.label :host_name
  = form.text_field :host_name, :label => 'Domain and port', :input_html => { :class => "span7" }, :hint => '(e.g. pixels-and-bits.com or localhost:3000)'

  = form.label :site_name
  = form.text_field :site_name, :input_html => { :class => "span7" }

  = form.label :tagline
  = form.text_field :tagline, :input_html => { :class => "span7" }

  = form.label :mail_from
  = form.text_field :mail_from, :input_html => { :class => "span7" }

  = form.label :time_zone
  = form.select :time_zone, time_zone_options_for_select(Jabe::SETTINGS.time_zone), :label => 'Your local time zone', :input_html => { :class => "span7" }

  = form.label :entries_per_page
  = form.text_field :entries_per_page, :label => 'Entries per page', :input_html => { :class => "span7" }

  = form.label :sidebar_heading
  = form.text_field :sidebar_heading, :input_html => { :class => "span7" }

  = form.label :github_username
  = form.text_field :github_username, :wrapper => :prepend, :label => 'Github' do
    = content_tag :span, "http://github.com/", :class => "add-on"
    = form.input_field :github_username, :class => "span4"

  / = form.input :show_github_badge

  = form.label :twitter_username
  = form.text_field :twitter_username, :wrapper => :prepend, :label => 'Twitter' do
    = content_tag :span, "https://twitter.com/#!/", :class => "add-on"
    = form.input_field :twitter_username, :class => "span4"

  = form.label :facebook_url
  = form.text_field :facebook_url, :wrapper => :prepend, :label => 'Facebook' do
    = content_tag :span, "http://facebook.com/", :class => "add-on"
    = form.input_field :facebook_url, :class => "span4"

  = form.label :google_tracker_id
  = form.text_field :google_tracker_id, :input_html => { :class => "span7" }

  = form.submit 'Save', :class => 'btn btn-success'
