%h2
  =  Jabe::SETTINGS.sidebar_heading

- unless  Jabe::SETTINGS.github_username.blank?
  .link
    = link_to 'Github',  Jabe::SETTINGS.github_username

- unless  Jabe::SETTINGS.twitter_username.blank?
  .link
    = link_to 'Twitter',  Jabe::SETTINGS.twitter_username

- unless  Jabe::SETTINGS.facebook_url.blank?
  .link
    = link_to 'Facebook',  Jabe::SETTINGS.facebook_url

- if  Jabe::SETTINGS.show_github_badge
  #github-badge

  :javascript
    GITHUB_USERNAME="#{ Jabe::SETTINGS.github_username}";
  = javascript_include_tag 'http://drnicjavascript.rubyforge.org/github_badge/dist/github-badge-launcher.js'
