%h2
  = SETTINGS.sidebar_heading

- if SETTINGS.github_username
  .link
    = link_to 'Github', SETTINGS.github_username

- if SETTINGS.twitter_username
  .link
    = link_to 'Twitter', SETTINGS.twitter_username

- if SETTINGS.facebook_url
  .link
    = link_to 'Facebook', SETTINGS.facebook_url

- if SETTINGS.show_github_badge
  #github-badge

  :javascript
    GITHUB_USERNAME="#{SETTINGS.github_username}";
  = javascript_include_tag 'http://drnicjavascript.rubyforge.org/github_badge/dist/github-badge-launcher.js'
