<p>
  On: <%= public_entry_url(@comment.entry) %>
</p>
<p>
  SPAM: <%= @comment.spam? %>
</p>
<p>
  From: <%= @comment.author %>
</p>
<p>
  Email: <%= @comment.author_email %>
</p>
<p>
  URL: <%= @comment.author_url %>
</p>
<p>
  <%= @comment.content.html_safe %>
</p>
<hr>
<p>
  Remote IP: <%= @comment.user_ip %>
</p>
<p>
  User agent: <%= @comment.user_agent %>
</p>
